<mat-card class="menu-card">  
    <mat-toolbar class="menu-toolbar">
        <mat-toolbar-row>
          <span>В избранное добавлено: {{favorites.length}} элементов</span>
          <span class="example-spacer"></span>
            <div>
                <mat-form-field>
                  <mat-select [(ngModel)]="sortMethod" (selectionChange)="sortFilms()" placeholder="Сортировка">
                    <mat-option [value]="'ASC'" >По алфавиту: A-Z</mat-option>
                    <mat-option [value]="'DESC'"  >По алфавиту: Z-A </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>
  
  
<mat-grid-list cols="4" rowHeight="600px">
    <mat-grid-tile *ngFor="let film of films" colspan="1">

      <app-film-item (getFavorites)="setFavorites($event)" [film]="film" ></app-film-item>

    </mat-grid-tile>         
</mat-grid-list>