<mat-card class="menu-card">  
    <mat-toolbar class="menu-toolbar">
        <mat-toolbar-row>
          <span>В избранное добавлено: {{favorites.length}} элементов</span>
          <app-search (searchText)="findFilm($event)"></app-search>
          <span class="example-spacer"></span>
            <div>
                <mat-form-field>
                  <mat-select [(ngModel)]="displayOption" (selectionChange)="displayCategory()" placeholder="Категории">
                    <mat-option [value]="'Films'" >Фильмы</mat-option>
                    <mat-option [value]="'Actors'">Актеры</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>



<ng-template #loadedData>
  <ng-container *ngIf="dataToDisplay.length > 0; else notFound">
    <mat-grid-list cols="4" rowHeight="520px">   
      <mat-grid-tile *ngFor="let film of dataToDisplay" colspan="1">
          <app-film-item (getFilm)="setFavorites()" [film]="film" ></app-film-item>
      </mat-grid-tile> 
    </mat-grid-list>
    <button *ngIf="showLoadButton" class="load-more" (click)="loadMore()" mat-button>load more</button>
  </ng-container>
  
  <ng-template #notFound>
    <img class="not-found" src="https://blog.makuno.co.ke/img/search_error.png">
  </ng-template>

</ng-template>

<!-- <mat-progress-spinner *ngIf="loading; else loadedData" class="spinner" [color]="color" [mode]="indeterminate" [value]="50">
</mat-progress-spinner> -->
<div *ngIf="loading; else loadedData" class="spinner">
  <img src='https://miro.medium.com/max/1158/1*9EBHIOzhE1XfMYoKz1JcsQ.gif'>
</div>

